.DS_Store
DB.php
wp-config-sample.php
wp-config.php
wp-migrate.php
.htaccess
nginx.conf
node_modules

wp-content/logs/
wp-content/dubug.log

wp-content/wflogs/

wp-content/db.php
wp-content/w3tc-config/master.php

wp-content/themes/creasite/build/img/
wp-content/themes/creasite/build/js/
wp-content/themes/creasite/build/css/
wp-content/themes/creasite/build/fonts/
wp-content/themes/creasite/build/fonts/*
themes/creasite/node_modules
.idea
.vscode
*_log
s/*
robots.txt
.well-known/

.env
db_data/*
init_vagrant.sql

wp-content/uploads
wp-content/w3tc-config
wp-content/advanced-cache.php