@import "./help/vars_and_mixins.scss";
@import "./help/media_mixins.scss";

html {
    overflow-x: hidden;
    &.overflowHidden {
        overflow: hidden;
    }
}
body {
    padding-right: 0 !important;
    overflow-x: hidden;
}
#primary.content-area {
    box-sizing: border-box;
}
figure {
    img {
        width: 100%;
    }
}
